
<div class="jumbo">
  <div class="right"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <p>
    Check out our {{#link-to "about" class="text-link"}}About Us{{/link-to}} page to learn more.
  </p>
</div>

{{outlet}}